* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #EDD1B0;
    /* max-width: 600px; */
}

:root {
  --article-width: min(650px, 92vw);
}

#container {
  height: 100%;
  background-color: #EDD1B0;
  margin: 0 auto;
  max-width: 690px; /* Hide this to extend navbar full width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 40px rgba(81, 81, 81, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0.75;
}
100% {
    opacity: 1;
 }
}

#article { 
    font-family: Arial, Helvetica, sans-serif;
    max-width: var(--article-width);
    margin: 20px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    max-height: 100vh;
    column-count: 1;
    column-width: var(--article-width);
    /* column-rule: 1px solid black; */
    column-gap: 0px;
    overflow: hidden;
    padding: 0px;
    /* text-align: justify; */
    /* text-justify: newspaper; */
    white-space: pre-line;
    /* hyphens: auto; */
    background-color: #EDD1B0;
    line-height: 1.5;
  }

@media only screen and (max-height: 500px) {
  #article {
    max-height: 90vh;
  }
}

p {
  margin-block: 0px 0px;
}

nav {
  /* margin: 0 auto; */
  background-color: rgba(213, 247, 255, 0.2);
  height: 6vh;
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 1rem;
  margin-bottom: 5px;
}
/* #next {
  float: right;
}
#previous {
  float: left;
} */

button {
  padding: 3px 20px;
  font-weight: bold;
  border: 0.5px solid rgb(34, 34, 34);
  border-radius: 3px;
  color: rgb(35, 35, 35);
  background-color: #f7b05f;
  height: 100%;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.163);
}


button:hover {
  background-color: rgba(245, 245, 245,1);
}

button:active  {
  background-color: #fff;
  transform: translateY(1px);
}

button:disabled {
  background-color: #EDD1B0;
  color: darkgrey;
  border: none;
}

#status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* Necessary after switching to grid */ 
  padding: 0 10px;
  font-family: arial;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

#progress {
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

#progress_bar {
  width: 0%;
  height: 10px;
  background-color: #f7b05f;
  /* background-color: #fff; */
  /* background-color: #e7881b; */
  border-radius: 10px;
  transition: width 0.25s;
  transition-timing-function: ease;
}

#debugging {
  display: none;
}


@media only screen and (min-width: 920px) {
  #debugging {
    display: block;
    position: absolute;
    right: 2%;
    top: 2%;
    background: pink;
    padding: 10px;
  }
}